.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
}
  
.gallery img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    margin: 5px 5px 0 5px;
}

