/* header {
    background-color: #11a6d3;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  .logo {
    display: inline-block;
    margin-right: 20px;
  }
  
  .logo img {
    height: 40px;
    width: auto;
  }
  
  nav {
    flex-grow: 1;
  }
  
  nav a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
  } */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #11a6d3;
    padding: 10px;
  }
  
  .logo img {
    height: 40px;
  }
  
  .nav-links li {
    display: inline-block;
    margin-left: 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  .nav-links a:hover {
    background-color: #333;
    color: #f2f2f2;
    /* cursor: pointer; */
  }

  .btn-toggle-menu {
    cursor: pointer;
  }
  